@using Proiect_IAME.ValueObjects
@model Proiect_IAME.SqlViews.Programare


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anulare</title>
</head>
<body>
    <p>
        <br>
        <br>
    </p>
    <h3>Confirmați ștergerea următoarei programări?</h3>
    <div>
        <h4>Programare:</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Serviciu)
            </dt>

            <dd>
                @Model.Serviciu.GetDisplayName()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Interval)
            </dt>

            <dd>
                @Model.Interval.GetDisplayName()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Administrator"))
                {
                    <div class="form-actions no-color">
                        <input type="submit" value="Anulează" class="btn btn-outline-danger" /> |
                        @Html.ActionLink("  Înapoi", "Admin")
                    </div>
                }
                else
                {
                    <div class="form-actions no-color">
                        <input type="submit" value="Anulează" class="btn btn-outline-danger" /> |
                        @Html.ActionLink("  Înapoi", "Index")
                    </div>
                }
            }

        }
    </div>
</body>
</html>
